*,
*:before,
*:after {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

:root {
    --color-bg-default: #c9c6f2;
    --color-text-default: #000;
    --color-text-2-default: rgb(0, 2, 70);
    --color-header-default: rgba(98, 89, 189, 0.141);
    --light-color-alt:rgb(243, 243, 255);
    --color-line: #000;
}

/* THEME SWITCHER */ 
body.dark-theme {
    --color-bg-default: #242141;
    --color-text-default: rgb(229, 232, 250);
    --color-text-2-default: rgb(191, 193, 255);
    --color-header-default: rgba(98, 89, 189, 0.141);
    --light-color-alt:rgb(184, 184, 255);
    --color-line: rgb(200, 205, 243);
}

.sun-icon{
    display: none;
}

.dark-theme .moon-icon{
    display: none;
}

.dark-theme .sun-icon{
    display: block;
}

.theme-toggle-btn {
    i {
        font-size: 5vmin;
        padding-left: 5vmin;
    }
}

html {
    height: 100%;
    font-size: 2.4vmin;
    font-family: 'Jost', cursive;
    line-height: 1.3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: -webkit-box; // для safari?
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background: var(--color-bg-default);
    color: var(--color-text-default);
}

header {
    transform: translate3d(0,0,0) translateZ(1000px);
    background-color: var(--color-header-default);
    padding: 0.5em 0em;
}

section {
    transform: translate3d(0,0,0) translateZ(1000px);
}

img, 
svg {
 display: inline-block;
 vertical-align: middle;
 max-width: 100%;
 height: auto;
 border: 0;
}

a,
input,
button,
textarea {
 display: inline-block;
 vertical-align: middle;
 border: none;
 border-radius: 0;
 margin: 0;
 padding: 0;
 font: inherit;
 color: inherit;
 line-height: inherit;
 text-transform: inherit;
 text-shadow: inherit;
 background: none;
 -webkit-box-shadow: none;
 box-shadow: none;
 cursor: pointer;
}

a {
    text-decoration: none;
}

input,
textarea {
 width: 100%;
}

input {
 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
}

textarea {
 overflow: auto;
 resize: none;
}


/*base*/
.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 320px;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: auto;
    transform-style: preserve-3d;
}
   
.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.container_blog{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 4.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section_blog:not(.featured-articles){
    padding-block: 5rem;
}

.d-grid{
    display: grid;
}

/*grid*/
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
   
.row-center {
    margin-right: 10rem;
    font-size: 1.3rem;
    margin-top: 4em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
   
.col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
}

.logo {
    font-size: 5vmin;
    font-weight: 700;
    display: inline-flex;
    span {
        
        &:hover {
            color: var(--light-color-alt);
        }
    }
}


nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 0.5em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    min-width: 300px;
}

.about, .blog {
    margin: 0em 0.5em;
    &:hover {
        color: var(--light-color-alt);
    }
}

.btn {
    padding: 0.52em 1em;
    border: 2px solid transparent;
    border-radius: 0.3em;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    background-color: #111;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    border: 2px solid currentColor;
    color: #111;
    background-color: var(--light-color-alt);
}

// menu

ul {
    list-style: none;
    display: -webkit-inline-flex;
    li {
        margin: auto;
        padding: 0 0.5em;
    }
}

.menu-toggle-icon {
    display: none;
    padding: 0.45rem;
    padding-bottom: 0.16rem;
}


/*modal*/

.overlay {
    transform: translate3d(0,0,0) translateZ(1000px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
   
.overlay.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
   
.modal {
    color: #000;
    position: relative;
    max-width: 600px;
    min-width: 300px;
    padding: 7.2vmin 10vmin;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgb(216, 229, 252);
    overflow-y: auto;
    text-align: center;
    margin: 10vmin auto auto auto;
}
   
.modal__close {
    position: absolute;
    top: 0px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
   
.modal__title {
    text-transform: uppercase;
    margin-bottom: 1em;
}
   
.modal__input {
    width: 90%;
    padding: 0.5em 1em;
    margin: 0 auto 1.2em auto;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    outline: none;
    overflow: hidden;
    -webkit-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}
   
.modal__input:focus,
.modal__input:active {
    border: 1px solid #111;
}

.modal_links {
    margin-top: 6vmin;
    display: flex;
    justify-content: center;
    gap: 0em 12vw;
    h6 {
        margin-top: 6px;
    }
    i {
        font-size: 2.5rem;
        &:hover {
            color: rgb(73, 73, 140);
        }
    }
}

.btn-list-item {
    display: none;
}

.media{
    display: none;
}

@media (orientation:portrait) {

    .col {
     -webkit-box-flex: 0;
     -ms-flex: 0 1 100%;
     flex: 0 1 100%;
    }
   
    .row {
        flex-wrap: wrap-reverse;
    }

    .col+.col {
     margin-top: 8.5rem;
    }

    header {
        z-index: 2;
    }

    .about, .blog {
        margin: auto;
    }
    .row-center {
        margin: 9vh auto;
        font-size: 5vw;
        z-index: 1;
    }
    .modal {
        max-width: 80%;
        margin: 10vmin auto auto auto;
    }
    .media {
        max-width: 65%;
        padding-bottom: 1px;
    }
    .shadow {
        -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.3));
        filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.3));
    }

    // .about_media {
    //     display: none;
    // }

    // .about_media_phone {
    //     z-index: -2000;
    //     margin-top: 200px;
    //     display: block;
    //     position: fixed;
    // }
    // .menu-toggle-icon {
    //     display: block;
    // }

    // .menu {
    //     position: absolute;
    //     font-size: -webkit-xxx-large;
    //     top: 0rem;
    //     right: 0rem;
    //     width: 100%;
    //     height: 100%;
    //     padding: 1rem;
    //     backdrop-filter: blur(150px);
    //     -webkit-backdrop-filter: blur(150px);
    //     border-radius: 13px;
    //     border: 1px solid;
    //     opacity: 0;
    //     transform: scale(0);
    //     transition: opacity .25s ease-in-out;
    //     a {
    //         text-shadow: none;
    //     }
    //     .button_nest {
    //         display: flex;
    //         justify-content: end;
    //     }
    // }

    // .menu.activated{
    //     opacity: 1;
    //     transform: scale(1);
    // }

    // .list {
    //     display: flex;
    //     align-items: center;
    // }

    // .menu > .list {
    //     margin-top: 0rem;
    //     flex-direction: column;
    // }

    // .btn {
    //     display: none;
    // }

    // .btn-list-item {
    //     padding: 0.25em 0.5em;
    //     display: block;
    //     &:hover {
    //         color: #0A36CF;
    //     }
    // }

    // .media {
    //     margin: 3rem auto;
    //     position: relative;
    //     aspect-ratio: 1/1;
    //     /* padding-bottom: 30%; */
    //     display: -webkit-box;
    //     display: -ms-flexbox;
    //     display: flex;
    //     min-width: 30%;
    //     max-width: 3em;
    //     justify-content: center;
    // }
       
    // .media_image {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     -o-object-fit: contain;
    //     object-fit: contain;
    // }
}

/*_____________________________________________*/ 
/* POST SECTION */ 
.post_section {
    margin: 0 11vmin;
    max-width: calc(100% - 48px);
}


.post_head {
    grid-template-columns: calc((100% - 24px) / 3) calc((100% - 24px) * 2 / 3);
}

.post_image_layout {
    grid-column-start: 1;
    grid-row-start: 1;
    .post_image {
        margin: 3vmin 3vmin 1vmin 3vmin;
        border: 3px solid var(--color-text-2-default);
    }
}

.post_image_description {
    h6, p {
        text-transform: uppercase;
        margin-left: 3vmin;
        font-size: 3vmin;
    }
    p {
        font-size: 2.5vmin;
        color: var(--color-text-default);
    }
}

.post_title_layout {
    grid-column-start: 2;
    grid-row-start: 1;
    h1 {
        font-size: 7vmin;
        margin-top: 3vmin;
        text-transform: uppercase;
    }
}

.post_title_descpription {
    color: var(--color-text-2-default);
    font-size: 3vmin;
    align-self: flex-end;
    padding-bottom: 3vmin;
    border-bottom: var(--color-line) solid;
}

/* PARAGRAPHS */ 


.post_paragragh {
    grid-template-columns: calc((100% - 24px) / 3) calc((100% - 24px) * 2 / 3);
}

.post_left_side {
    grid-column-start: 1;
    grid-row-start: 1;
}

.post_right_side {
    grid-column-start: 2;
    grid-row-start: 1;
    h4 {
        font-size: 4vmin;
    }
    p {
        font-size: 3vmin;
        margin-top: 2vmin;
    }
    blockquote {
        font-size: 3vmin;
        margin: 4vmin 6vmin 2vmin;
        font-style: italic;
        color: var(--color-text-2-default);
    }
}

@media screen and (max-width: 1180px) {
    .container {
        padding: 0 0;
    }

    header {
        padding: 2vmin 0;
        font-size: 3vmin;
    }

    .post_section {
        margin: 0 5vmin;
    }

    .post_head,
    .post_paragragh {
        display: flex;
        flex-direction:column-reverse;
    }

    .post_title_layout {
        h1 {
            font-size: 7vmin;
            padding-bottom: 1vmin;
        }
    }

    .post_title_descpription {
        font-size: 4vmin;
    }

    .post_head {
        padding-bottom: 3vmin;
        border-bottom: var(--color-text-2-default) solid;
    }

    .post_image_layout {
        max-width: 130vmin;
    }

    .post_right_side {
        h4 {
            font-size: 5.5vmin;
        }
        p {
            font-size: 4vmin;
            margin-top: 2vmin;
        }
        blockquote {
            font-size: 4vmin;
            margin: 4vmin 6vmin 2vmin;
            font-style: italic;
        }
    }
}

